.charts-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  
  .chart-container {
    width: auto;
    height: auto;
    margin: 20px auto;
  }
  
  canvas {
    width: 100% !important;
    height: 400px !important;
  }
  