<body style="min-height: 100vh;">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  
<div class="wrapper">
  <div class="title" id="c-title">
    Subir Documentos
  </div>
  <form>
    <div class="form-group">
      <label for="titulo">Licencia de conducir para taxi vigente</label>
    </div>
    <div class="subir" id="subirlicencia">
      <label for="licencia">Subir Licencia de Conducir (PDF):</label>
      <input type="file" id="licencia" (change)="mostrarNombre($event)" accept="application/pdf" required>
      <span class="nombre-archivo" id="licencia">{{ nombresArchivos['licencia'] }}</span>
    </div>
    <div class="form-group">
      <input type="checkbox" id="verificado1" [(ngModel)]="verificado1" name="verificado1">
      <label class="verificado" for="verificado">Licencia verificada </label>
    </div>
    <div class="form-group">
      <label for="titulo">Identificación oficial (INE)</label>
    </div>
    <div class="subir" id="subirine">
      <label for="ine">Subir INE (PDF):</label>
      <input type="file" id="ine" (change)="mostrarNombre($event)" accept="application/pdf" required>
      <span class="nombre-archivo" id="ine">{{ nombresArchivos['ine'] }}</span>
    </div>
    <div class="form-group">
      <input type="checkbox" id="verificado2" [(ngModel)]="verificado2" name="verificado2">
      <label class="verificado" for="verificado">INE verificada </label>
    </div>
    <div class="form-group">
      <label for="titulo">Comprobante de domicilio (no mayor a 3 meses)</label>
    </div>
    <div class="subir" id="subircomprobante">
      <label for="comprobante"> Subir Comprobante Domicilio (PDF):</label>
      <input type="file" id="comprobante" (change)="mostrarNombre($event)" accept="application/pdf" required>
      <span class="nombre-archivo" id="Comprobante">{{ nombresArchivos['comprobante'] }}</span>
    </div>
    <div class="form-group">
      <input type="checkbox" id="verificado3" [(ngModel)]="verificado3" name="verificado3">
      <label class="verificado" for="verificado">Comprobante Domicilio verificado </label>
    </div>
    <div class="form-group text-center"> <!-- Agregamos la clase text-center al contenedor del botón -->
      <button type="button" class="btn btn-primary" (click)="cargarDocumentos()">Registrar Conductor</button>
    </div>
  </form>
</div>
</body>
