
/* cards*/
.card{
    border-radius: 22px;
    transition: all 0.4s ease-in-out;

}
.card:hover{
    box-shadow: 0px 4px 4px rgba(252, 178, 64,0.15);
    transform: scale(1.01);
    border-color: #f8c86a;
}
.card:active{
    box-shadow: 0px 4px 4px rgba(252, 178, 64,0.05);
    transform: scale(0.98);
    border-color: #ae8635;
}
.card-body button{
border-radius: 22px;
background-color: white;
color:red;
border: 1.5px solid red;
transition: all 0.3s ease-in-out;
}
.card-body button:hover{
    background-color: red;
    color:white;
    border-color: red;
    transform: scale(1.1);
    }


.card-body button:active{
    transform: scale(0.98);
    }




/* filtros*/
.container .form-control{
border-radius: 22px;
color: darkgray;
transition: all 0.2s ease-in-out;
}


.container .form-control:hover{
    box-shadow: 0px 4px 4px rgba(252, 178, 64,0.25);
    transform: scale(1.01);
}
.container .form-control:focus {
    box-shadow: 0px 4px 4px rgba(252, 178, 64,0.25);
    transform: scale(1.03);
}



/** textos**/
.Textofiltro{
    color: #f8c86a;
    transition: all 0.4s ease-in-out;

}
.Textofecha{
    color: #f8c86a;
    transition: all 0.4s ease-in-out;

}