
<!--Contenido Principal-->
<div class="main-content">
    <img src="./assets/images/logo.png" width="350" height="200">
    <h1>Vehiculos Recientes</h1>
    
    <div class="imagenes-container">
        <img src="./assets/images/Taxi-queretaro.jpg" alt="Descripción de la imagen" width="400" height="400" class="imagen-guapa">
        <img src="./assets/images/Taxi-queretaro_2.jpg" alt="Descripción de la imagen" width="400" height="400" class="imagen-guapa">
        <img src="./assets/images/Taxi-queretaro_3.jpg" alt="Descripción de la imagen" width="400" height="400" class="imagen-guapa">
    </div>
    <h1>Vehiculos con Problemas</h1>
    <div class="contenedor-3d">
        <app-pantalla3-d></app-pantalla3-d>

    </div>
    <app-component-grafica></app-component-grafica>
</div>

<!--Contenido Principal-->