#canva3d {
  width: 100%;  /* Cambiar a 100% para que ocupe todo el ancho del contenedor */
  height: 100%;  /* Cambiar a 100% para que ocupe todo el alto del contenedor */
  display: block;
  transform: scale(1);  /* Asegúrate de que se comporte como un bloque */
}
#canva3d:hover {
  width: 100%;  /* Cambiar a 100% para que ocupe todo el ancho del contenedor */
  height: 100%;  /* Cambiar a 100% para que ocupe todo el alto del contenedor */
  display: block;
  transform: scale(2);  /* Asegúrate de que se comporte como un bloque */
}
