/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    text-align: center;
    color:#f8c86a;
}

section {
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius:22px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Estilos para el formulario de edición de conductor */
#driverFormSection {
    max-width: 600px;
    margin: 0 auto;
}

#driverFormSection form {
    display: flex;
    flex-direction: column;
}

#driverFormSection form div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="file"] {
    width: 100%;
    padding: 8px;
    border-radius: 22px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    margin-left: 2%;
    border: none;
    border-radius: 22px;
    background-color: white;
    color: #f8c86a;
    border: solid 1.5px #f8c86a;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover{
    background-color: #f8c86a;
    color: white;
    border-color: white;
    transform: scale(1.03);
}
button:active{
 
    transform: scale(0.95);
}


/* Estilos para la lista de conductores */
#driverList {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

#driverList li {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 4px;
}

#driverList li:hover {
    background-color: #eaeaea;
}
