<div class="btn">
   <label class="btn-t">NUEVO USUARIO</label>
   <form id="r-form">
      <input id="nuser" type="text" required>
      <label class="label" > Usuario </label>
      <input id="pass-1" type="password" required>
      <label class="label" > Contraseña </label>
      <input id="pass-2" type="password" required>
      <label class="label" > Confirmar contraseña </label>
      <input type="submit" value="Crear usuario">
   </form>
</div>
<script>
   document.addEventListener('DOMContentLoaded', () => {
     crearuser();
   });
 </script>