
.interior{
  transform: scale(0.80);
  margin-top: 0px; /* Igual a la altura del navbar */
  margin-left: 90px; /* Igual al ancho del sidebar */
  padding: 20px;
  width: 100%;
  flex-grow: 1;
  overflow: auto;
}
.login{
  margin-top: 4%;
}
/*CSS NAVBAR*/
.topnav {z-index: 9999; 
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid rgb(128, 128, 128);

}


.topnav .l-status{
  position: relative;
  float: right;
  transform: scale(2.5);
  font-size: 100%;
  text-decoration: none;

  cursor: pointer;
  color:white;
  border-radius: 100%;
  background-color: rgb(245, 180, 50);
  transition: all 0.5s ease-in-out;
}

.topnav .l-status:hover{
  border-radius: 10%;
 padding-right: 2.5%;
 transform: scale(2.8);
}




.topnav a{
  float: left;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding: 14px 16px;
}
.menu{
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
  color: #000;
  display: none;
}

/*Izquierda-sidebard*/
::-webkit-scrollbar {
  width: 12px; 
  height: 12px;
}
.sidebar{z-index: 9999; 
  position: fixed;
  top: 63px;
  overflow: auto;
  background-color: #fff;
  height: 100%;
  border-right: 1px solid gray;
  padding: 30px 5px;
  margin: 0px;
  width: 180px;
  list-style-type: none;
  transition: all 0.5s ease-in-out;
}
.sidebar:hover{
  width: 220px;
  border-color: #f4c659;
}
.sidebar > ul > li > a:active {
  transform: scale(0.92);
  transition: all 0.1s;
}

.sidebar:hover > ul > li > a {
  padding: 20px 25px;

}

.sidebar:hover > ul > li > .dropdown-container{
  padding-left: 25px;
  transition: all 0.5s ease-in-out;

}



.sidebar a:hover{
  transform: scale(1.1);
  color: #f8be35;
  transition: all 0.3s ease-in-out;

}

.sidebar .cerrar:hover{
  color:red;
}


.sidebar .cerrar:active{
  transform: scale(0.92);
  transition: all 0.1s;
}


.sidebar a{
  text-decoration: none;
  padding: 20px 10px;
  color: #000;
  text-align: left;
  display: block;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}


.sidebar i{
  padding-right: 10px;
  padding-left: 10px;
}
.sidebar .icon{
  float: right;
}
.dropdown-container{
  padding-left: 10px;
  overflow-y: hidden;
  max-height: 0px;
  transition: all 0.5s ease-in-out;
}

.dropdown-container.show{
  max-height: 1000px;
  transition: all .15 ease;
}
ul{
  padding: 0px;
}
ul>li>a.active{
  color: #000;
}

/*Contenido de pantalla principal*/
.main-content{
  margin-top: 80px;
  margin-left: 230px;
  padding: 1px 16px;
}

.main-content h1{
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  padding: 14px 16px;
}

.main-content img{
  display: block; /* Asegura que la imagen sea un elemento de bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente dentro de su contenedor */
  max-width: 100%; /* Evita que la imagen se desborde del contenedor */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
  border-radius: 10px; /* Agrega esquinas redondeadas a la imagen */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave a la imagen */
  transition: transform 0.3s ease-in-out;
}
.imagenes-container {
  display: flex; /* Utiliza flexbox para alinear las imágenes en una fila */
  justify-content: space-around; /* Distribuye el espacio alrededor de las imágenes */
  margin-top: 20px; /* Espacio opcional arriba del contenedor */
}
/* Estilo para el hover */
.imagen-guapa:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.contenedor-3d {
  display: block; /* Asegura que la imagen sea un elemento de bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente dentro de su contenedor */
}

@media screen and (max-width:500px) {
  .menu{
      display: block;
  }
  .sidebar{
      display: none;
  }
}

.disabled {
  pointer-events: none;
  cursor: default;
}