*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #ddd;

  }
  
  html,body{
    display: inline-flex;
    height: 100vh;
    width: 100vw;
    
    background: #ddd;
    
  }
 div{
    background: #ddd;
    align-items: center;
}

