<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Registro de Conductor</title>
</head>
<body>
    <h1>Registro de Conductor</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" id="driverForm">
        <div>
            <label for="curp">CURP:</label>
            <input type="text" id="curp" formControlName="curp" required>
        </div>
        <div>
            <button type="submit">Registrarse</button>
        </div>
    </form>
    <div *ngIf="data">
        <h2>Información del Solicitante</h2>
        <p>Nombre: {{ data.Nombres }}</p>
        <p>Apellido Paterno: {{ data.ApellidoPaterno }}</p>
        <p>Apellido Materno: {{ data.ApellidoMaterno }}</p>
        <p>CURP: {{ data.CURP }}</p>
        <p>Sexo: {{ data.Sexo }}</p>
        <p>Fecha de Nacimiento: {{ data.FechaNacimiento }}</p>
        <p>Nacionalidad: {{ data.Nacionalidad }}</p>
        <p>Entidad de Nacimiento: {{ data.EntidadNacimiento }}</p>
        <p>Documento Probatorio: {{ data.DocProbatorio }}</p>
        <p>Status CURP: {{ data.StatusCurp }}</p>
      </div>
</body>
</html>
