/* Estilos para el encabezado */
header {
  background-color: rgba(6, 6, 6, 0.7); /* Fondo gris oscuro transparente */
  display: flex; /* Utilizamos flexbox */
  justify-content: center; /* Centrado horizontal */
  align-items: center; /* Centrado vertical */
  height: 100px; /* Altura fija para centrado vertical */
}
h1 {
  font-size: 3.5rem; /* Tamaño de fuente grande */
  font-weight: bold; /* Negrita */
  color: #e8dada; /* Color azul */
  text-align: center; /* Centrado horizontal */
  text-transform: uppercase; /* Convertir texto a mayúsculas */
  letter-spacing: 2px; /* Espaciado entre letras */
  text-shadow: 2px 2px 4px rgb(243, 239, 9); /* Agrega una sombra al texto */
}
h2 {
  text-align: center; /* Centra horizontalmente el texto */
  font-size: 36px; /* Tamaño de la fuente */
  color: #3a3838; /* Color negro */
  text-shadow: 2px 2px 4px rgb(255, 255, 255); /* Agrega una sombra al texto */

}

body {
  background-image: url('../verificar-documentos/Fondo_taxi.jpg'); /* Reemplaza 'ruta/a/tu/imagen.jpg' con la ruta de tu imagen */
  background-position: center;
  height: 100%; /* Establece la altura al 100% para asegurar que la imagen de fondo se extienda por toda la página */
}
/* Estilos para la tabla */
.table {
  width: 100%;
  border-collapse: collapse;
}

/* Estilos para las celdas de encabezado */
.table th {
  padding: 1rem;
  text-align: left;
  background-color: #444242; /* Fondo rojo */
  color: #ffffff; /* Texto blanco */
}

/* Estilos para las filas de datos */
.table td {
  padding: 1rem;
  border-bottom: 1px solid #050505; /* Borde gris claro */
  background-color: rgb(249, 249, 196);
}

/* Estilos para las filas impares */
.table tbody tr:nth-child(odd) {
  background-color: #fbfbfb; /* Fondo gris claro */
}

/* Estilos para los botones */
.btn {
  display: inline-block;
  font-weight: 400;
  color: #282921;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eaf128; /* Fondo gris oscuro */
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Estilos para los botones al pasar el mouse */
.btn:hover {
  color: #0c0c0c; /* Texto blanco */
  background-color: #ffc107; /* Fondo amarillo */
  border-color: #ffc107; /* Borde amarillo */
}

.cuadro-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  background-color: rgb(249, 249, 196);
}

h2.text-center {
  font-size: 28px; /* Tamaño de la fuente */
  color: #fbf4f4; /* Color negro */
  text-shadow: 2px 2px 4px rgb(255, 255, 255); /* Agrega una sombra al texto */
  text-align: center; /* Centrado horizontal */
  background-color: #444242;
}


