<html>
<body style="min-height: 100vh;">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <header class="container-fluid  mb-4">
    <h1 class="text-center">Verificar Documentos del Conductor</h1>
  </header>
  <div class="container mt-4 ">
    <h2>Lista de Conductores Registrados</h2>
    <div class="table-responsive mt-5">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Estado de Verificación</th>
            <th>Documentos</th>
          </tr>
        </thead>
        <tbody>
          <!-- Ejemplo de conductor en la lista -->
          <tr>
            <td>Aaron David Briseño Rivera</td>
            <td>4425108974</td>
            <td>Estado de Verificación: <strong>No verificado</strong></td>
            <td><button class="btn btn-primary" (click)="mostrarDocumentos()">Ver y Verificar Documentos</button></td>
          </tr>
          <tr>
            <td>Froylan Galvan Tellez</td>
            <td>4481101413</td>
            <td>Estado de Verificación: <strong>No verificado</strong></td>
            <td><button class="btn btn-primary" (click)="mostrarDocumentos()">Ver y Verificar Documentos</button></td>
          </tr>
          <tr>
            <td>Mario Valdez Rico</td>
            <td>4418745698</td>
            <td>Estado de Verificación: <strong>No verificado</strong></td>
            <td><button class="btn btn-primary" (click)="mostrarDocumentos()">Ver y Verificar Documentos</button></td>
          </tr>
          <!-- Más conductores en la lista -->
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal para subir documentos -->
  <div class="cuadro-texto grande" *ngIf="verificacionDocumentosVisible">
    <button type="button" class="close" aria-label="Close" (click)="cerrarVerificacion()">
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="container">
      <h2 class="text-center">Verificar Documentos</h2>
      <form>
        <div class="form-group">
          <label for="licencia-conducir">Licencia de conducir para taxi vigente</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="licencia-conducir" accept="application/pdf">
            <label class="custom-file-label" for="licencia-conducir">Seleccionar archivo</label>
            <input type="checkbox" id="verificar-licencia" class="mt-3">
            <label for="verificar-licencia">Verificar licencia</label>
          </div>
        </div>
        <div class="form-group">
          <label for="identificacion-ine">Identificación oficial (INE)</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="identificacion-ine" accept="application/pdf">
            <label class="custom-file-label" for="identificacion-ine">Seleccionar archivo</label>
            <input type="checkbox" id="verificar-ine" class="mt-3">
            <label for="verificar-ine">Verificar INE</label>
          </div>
        </div>
        <div class="form-group">
          <label for="comprobante-domicilio">Comprobante de domicilio (no mayor a 3 meses)</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="comprobante-domicilio" accept="application/pdf">
            <label class="custom-file-label" for="comprobante-domicilio">Seleccionar archivo</label>
            <input type="checkbox" id="verificar-comprobante" class="mt-3">
            <label for="verificar-comprobante">Verificar comprobante de domicilio</label>
          </div>
        </div>
        <div class="form-group text-center"> <!-- Agregamos la clase text-center al contenedor del botón -->
          <button type="button" class="btn btn-primary" (click)="cargarDocumentos()">Cargar Documentos Verificados</button>
        </div>

      </form>
    </div>
  </div>
</body>
</html>
